.htitle {
  font-size: 60px;
}

.greeny {
  background-color: #709473;
}

.goldy {
  background-color: #edae61;
}

.right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.tinybigs {
  font-size: 25px;
}
